body {
	margin: 0; 
	padding: 0;
	background: white;
	/* background-image: linear-gradient(to right, #b37be5, #d0afec, #d0afec, #b37be5); */
	overflow-y: hidden; 
}
html::-webkit-scrollbar {
	display: none;
}
h2 {
	font-family: 'Bebas Neue', cursive;
	color: grey;
	text-align: center;
	margin: 40px 0 -50px;
	padding-bottom: 20px;
}
.carousel{
    height: 450px; 
    perspective: 400px;
}
.carousel .carousel-item{
	width: 500px;
	height: 300px;
}
.card {
	box-shadow: 0 4px 30px 0 rgba(137, 137, 137, 0.2);
	width: 400px;
	margin: auto;
	text-align: center;
	border-radius: 10px;
	height: 350px;
  }
.img-area{
	border-radius: 10px 10px 0 0;
	height: 200px;
	background-size: cover;
	background-position: center center;
}
.img-area img{
	height: 200px;
}
h4 {
	font-size: 35px;
	line-height: 1.5;
	margin: 15px 0;
	font-family: 'Bebas Neue', cursive;
}
.card p{
	font-size: 17px;
}

.container {
  padding: 2px 16px;
}




