::-webkit-scrollbar{
    display: none;
}

input[type=number]
{
    -moz-appearnce: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
}
body{
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
p:not(.pa){
    opacity: .8;
    font-size: 15.5px;
}
.full
{
    display: grid;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    max-width: 100%;
    background: white;
    box-shadow: 0 0 10px 1px grey;
    position: relative;
    border-radius: 8px;
    border-top: 4.5px solid teal;
}
img{
    margin-left: 40px;
    height: 70px;
    width :260px;

}

.head{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px ;
    width:320px;
}

.head ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.head ul li{
   margin-right: 30px;
    position: relative;
}

.head ul li:first-child{
    margin-left: 55px;
}

.head ul li::before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -35px;
    width: 40px;
    height: 3px;
    background: gainsboro;
}

.head ul li:first-child:before{
    display: none;
}

.head ul li div{
    padding: 5px;
    border-radius: 50%;
}

.pa{
    color: rgb(121, 121, 121);
}

.pa{
    width:25px;
    height:25px;
    background: gainsboro;
    color: rgb(1, 28, 28);
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    opacity: .8;
}

.head ul li.h::before,.head ul li.h .pa{
    background: teal;
    opacity: .8;
    color: white;
} 


.pages{
    display: list-item;
    justify-content: space-around;
}

h2{
    text-align: center;
    padding: 10px;
}

.item1{
   padding: 10px 0;
}

.item1:last-child{
    margin-bottom: 0;
}

.item1 label{
    display: block;
    margin-bottom: 5px;
}
.g{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.it1{
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.it1 .r7{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgb(146, 146, 146);
    opacity: 1;
    margin-right: 5px;
}
input[type=radio]:checked ~ .r7{
    border: 6.5px solid teal;
    background-color: white;
}

.item1 input{
    border: 2px solid rgb(190, 190, 190);
    border-radius: 3px;
    padding: 10px;
    display: block;
    width: 320px;
    font: 16px;
    transition: 0.5s ease;
}
.doc{
    padding: 10px;
}
input[type=radio]{
    display: none ;
}

.r1,.r2,.r3,.r4,.r5,.r6,.r8,.r9{
    padding: 10px;
    border: 2px solid  rgb(190, 190, 190);
    background-color: rgb(248, 248, 248);
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    
}

input[type=radio]:checked ~ label{
    background-color: teal;
    /* scale: 1.1; */
    opacity: .8;
    color: white;
    border: 2px solid white;
}
.btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.bt{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}

.bt1{
    justify-content: space-between;
}

.bt button,input[type="submit"]{
    border:0;
    padding: 12px 12px;
    background: teal;
    color:white;
    width:135px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 16px;
    border-radius: 3px;
    transition: 0.5s ease;
    cursor: pointer;
    opacity: .8;
}

.b1:hover,.b2:hover,.b3:hover,.b4:hover,.b5:hover,.b6:hover,.b7:hover,.b8:hover,.b9:hover{
    opacity: 1;
    /*transform: scale(1.05);*/
    background-color: rgb(0, 125, 125);
}

#s1{
    margin-top: 10px;
}

.slot1{
    
    width:100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  
}

.slot2{
    margin-top: 5px;
    width:100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 5px;

}
.slot3{
    margin-top: 5px;
    width:100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;
}
.slot4{
    margin-top: 5px;
    width:100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 0;

   
}
.item{
    margin-left: 10px;
}

#s1{
    font-size: 20px;
    margin-bottom: 20px;
    margin-left:0;
    margin-top: 0;
}
select{
    padding: 10px;
    border-radius: 3px;
    width: 320px;
    border: 2px solid gainsboro;
    opacity: .9;
}
/*.item input{
    display:none;
}*/

.errormsg{
    background: rgb(255, 198, 198);
    display: none;
    width: 320px;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    border-radius: 3px;
    margin-bottom: 2px;
    color: black;
    opacity: 2;
}
.container1{
    margin-right: 10px;
}
input[type="date"][id="c2"]::-webkit-calendar-picker-indicator{
    opacity: 0;
}
  
  input[type="date"][id="c2"]:focus::-webkit-calendar-picker-indicator {
    opacity: 1;
}
input [type=date]::-webkit-datetime-edit {
    color: transparent;
}

input [type=date]:focus::-webkit-datetime-edit {
    color: black !important;
}
input[type="radio"]:disabled + label {
    color: #7e7e7e;
    border:2px solid gainsboro;
    background: gainsboro;
    font-style: italic;
}
#pat_det,#app_det{
    border:2px solid rgb(190, 190, 190);
    border-radius:3px;
    width: 323px;
    padding:3px 6px;
    color:#5b5b5b;
    padding-left: 10px;
}
.box_det{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
}
.box_det p{
    font-size: 13.5px;
}
