@media print {
    .outline {
      min-height: 690px;
      border-top: 4px solid teal;
      padding: 10px 20px;
      border-radius: 5px;
      box-shadow: 0 0 6px 0 rgb(109, 109, 109);
    }
  
    .outline .headsection {
      display: flex;
      padding: 0 20px;
      padding-bottom: 10px;
      align-items: center;
      justify-content: space-between;
      border-bottom: 2px solid rgb(158, 158, 158);
    }
  
    .outline .headsection img {
      height: 120px;
      width: 220px;
    }
  
    .outline .headsection .addr ul li {
      list-style: none;
      margin-top: 3px;
    }
  
    .outline .app_det,
    .outline .doc_det {
      margin-top: 20px;
      padding: 0 20px;
    }
  
    .outline .app_det {
      padding-top: 20px;
      font-size: 20px;
    }
  
    ul li {
      list-style: none;
      margin-top: 3px;
    }
  
    .doc_det {
      padding-top: 20px;
      font-size: 20px;
    }
  
    .main {
      display: block;
    }
  }